@media (max-width: 1270px) {
    .product__line-right {
        padding: 80px 10px 90px 180px;
    }
    .product__item.left .product__line-left {
        padding: 80px 180px 90px 10px;
    }
    .product__line-right .product__title::before {
        width: 90px;
        left: -130px;
    }
    .product__item.left .product__line-left .product__title::before {
        width: 90px;
        right: -130px;
    }
    .product__item{
        display: block;
    }
    .product__image {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
    .team__wrapper {
        padding: 90px 0 90px 80px;
    }
    .about__wrapper {
        display: block;
        .about__image {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .about__content {
        padding-top: 40px;
        padding-left: 145px;
    }
}
@media (max-width: 1120px) {
    .header__slider-nav {
        display: flex;
        align-items: center;
        span {
            transform: rotate(0);
            position: static;
            margin-right: 20px;
        }
        li {
            display: inline-block;
            button {
                display: inline-block;
                margin: 0 10px;
            }
        }
        bottom: -20px;
        left: 0;
    }
    .team__wrapper {
        padding-left: 0 ;
    }
}
@media (max-width: 994px) {
    .menu-btn {
        right: 25px;
        left: auto;
        top: 55px;
    }
    .menu__hidden {
        right: 0;
        left: auto;
        transform: translateX(100%);
    }
    .header__top {
        display: block;
    }
    .header__menu {
        margin: 0;
        margin-top: 15px;
        .menu__list {
            display: block;
            li + li {
                margin-top: 10px;
            }
        }
    }
    .header__slider-dots button+button {
        margin-top: 20px;
    }
    .about {
        padding: 80px 60px;
    }
}
@media (max-width: 690px) {
    .header__bottom-title {
        font-size: 64px;
        letter-spacing: 15px;
    }
    .header__bottom-link {
        padding: 16px 40px;
    }
    .product__line-right .product__title::before,
    .product__line-right .product__text::before,
    .product__item.left .product__line-left .product__title::before,
    .product__item.left .product__line-left .product__text::before,
    .about__title::before,
    .about__text::before{
        display: none;
    }
    .product__line-right,
    .product__item.left .product__line-left{
        padding: 80px 10px 90px 15px;
    }
    .about__content {
        padding-left: 10px;
    }
    .copyright, .designed {
        font-size: 9px;
    }
}
@media (max-width: 460px) {
    .product__title{
        font-size: 32px;
    }
    .videos__title {
        line-height: 84px;
        font-size: 36px;
    }
    .about__title {
        font-size: 36px;
    }
    .team__wrapper {
        padding: 20px 0 20px 0px;
    }
    .designed {
        display: none;
    }
}
@media (max-width: 360px) {
    .header__bottom-title {
        font-size: 56px;
        letter-spacing: 12px;
    }
    .video__item-outer {
        margin: 25px 5px;
    }
    .team__title {
        letter-spacing: 4px;
    }
    
}