@import url('https://fonts.googleapis.com/css?family=Open+Sans|Russo+One');
body{
	background-image:url(../img/kalesa.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
}
header{
	font-family: Russo One;
	font-size: 300%;
	text-align: center;
	background-image:
	padding:40%; 
}
header:first-letter{
	color:#B4EEB4;
}
nav{
	text-align: center;
	font-family: Open Sans;
	font-size: 100%;
	padding: 1%;
}
nav span{
	padding: 0.5% 2% 0.5%;
	margin: 3%;
	background-color: #B4EEB4;
}
	
nav a{
	text-decoration: none;
	color:black;
}

.black{
	background-color:black;
	color:#B4EEB4;
}

div form{
	background-color: black;
	text-align: center;
	padding:1%;
	width: 25%;
	height: 35%;
	margin: auto;

}
.pole{
	padding: 2%;
	width: 80%;
	margin: 2%;
	background-color: #B4EEB4;
	text-align: center;
	font-size: 100%;
	color: black;
	border-color:black;

}
.button{
	color:#B4EEB4;
	background-color: black;
	border-color: black;
	padding: 3%;
	font-family:Russo One;
	font-size: 150%;
	outline: none;
}
