@media (max-width: 1250px) {
  .iframe__video {
    left: auto;
  }
  .team-button-next,
  .team-button-prev {
    bottom: 0;
    top: auto;
  }
  .team-button-next {
    right: 40%;
  }
  .team-button-prev {
    left: 40%;
  }
}

@media (max-width: 1200px) {
  .history::before {
    display: none;
  }
  .history {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  .iframe__video {
    position: relative;
    bottom: auto;
  }
  .history__content {
    padding: 0;
    padding: 95px 25px;
    text-align: center;
  }
  .history__content p {
    text-align: inherit;
    margin: 20px auto;
  }
  .iframe__wrapper {
    max-width: 650px;
    margin: 25px auto;
  }
  .facebook__wrapper {
    margin-bottom: 100px;
  }
  .our-team {
    padding: 180px 0 60px;
  }
  .our-team::before {
    top: -10px;
  }
  .team__card {
    max-height: 320px;
  }
  .subscribe {
    margin-top: 60px;
  }
}

@media (max-width: 992px) {
  nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 300;
  }
  .header__social {
    display: none !important;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 15px;
  }
  .menu li {
    font-size: 18px;
    margin: 20px 0;
  }
  .burger-btn {
    text-align: right;
    display: block;
    color: #000;
    font-size: 32px;
    position: relative;
    z-index: 301;
  }
  .items__slider {
    display: none;
  }
  .footer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(60%, #000));
    background: linear-gradient(to bottom, #fff 60%, #000 60%);
  }
  .facebook__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu {
    margin: 0 auto;
  }
  .footer__menu li {
    width: 40%;
  }
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, white), color-stop(70%, rgba(255, 255, 255, 0))), url(../img/header-bg.png);
    background-image: linear-gradient(360deg, white 2%, rgba(255, 255, 255, 0) 70%), url(../img/header-bg.png);
  }
  .history {
    padding-top: 60px;
  }
  .history::after {
    display: none;
  }
  .updates {
    padding: 60px 0;
  }
  .update__container {
    margin-bottom: 25px;
  }
  .update__container img {
    display: none;
  }
}

@media (max-width: 586px) {
  .inst__wrapper::before {
    display: none;
  }
  .our-team {
    padding: 100px 0;
  }
  .our-team::before {
    display: none;
  }
  .team-button-next {
    right: 35%;
  }
  .team-button-prev {
    left: 35%;
  }
}

@media (max-width: 390px) {
  .header__title {
    font-size: 42px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .team-button-next {
    right: 30%;
  }
  .team-button-prev {
    left: 30%;
  }
}
