html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   background-color: #1E1E24;
   color: #f2f3f4;
   @include textFont();
}

a {
   text-decoration: none;
   color: inherit;
   display: inline-block;
   
   &:hover {
      color: rgba(#F2F4FF, .5);
      @include trans();
   }
}

li, ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

h1, h2, h3,
h4, h5, h6 {
   @include titleFont();
}

h1 {
   font-size: 58px;
   line-height: 60px;
}

header, section, footer {
   padding: 10px;
   min-height: 100dvh;
}

p {
   max-width: 725px;
   margin: 0 auto;
}

.container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.title {
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.5px;
}

.heading {
   margin-bottom: 50px;
}

