@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@keyframes underline {
  from {
    width: 0px;
  }
  to {
    width: 100%;
    background-color: #fff;
  }
}
@keyframes move {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 10px;
  }
}
@keyframes background {
  0% {
    background-position: 0% 65%;
  }
  50% {
    background-position: 100% 36%;
  }
  100% {
    background-position: 0% 65%;
  }
}
body {
  font-family: "B612", sans-serif;
  color: #fff;
  background-color: #000;
  text-align: center;
}

a {
  color: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  padding: 20px;
}
.header .container {
  width: 70%;
}

.main-content {
  padding: 20px 0 25px;
}

.container {
  width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
}

.link:hover::after {
  animation-name: underline;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/*.languages_toggle {
	float: right;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	font-family: $IBM;

	span {
		padding: 0 10px;
	}
}
*/
.container__heading-logo-container .container__heading-logo {
  width: 80%;
}

.container__heading-menu {
  margin-top: 20px;
}
.container__heading-menu .heading-menu-list {
  display: flex;
  justify-content: space-around;
}
.container__heading-menu .heading-menu-list .heading-menu-list__item {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  line-height: 31px;
  position: relative;
  padding: 0 5px;
}

.main-content .container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
}
.main-content .container .promo-block {
  height: 250px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.3s ease;
}
.main-content .container .promo-block:hover {
  background-size: 120%;
}

.description {
  position: absolute;
  line-height: 31px;
  bottom: 20px;
  left: 20px;
  text-align: left;
  width: 220px;
}
.description strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-family: "IBM Plex Mono", monospace;
}
.description span {
  transition: all 0.2s linear;
}
.description a:hover > span {
  margin-left: 5px;
}

.special-order {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: linear-gradient(188deg, rgba(255, 0, 0, 0.5), rgba(255, 165, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(139, 0, 139, 0.5));
  background-size: 1200% 1200%;
  height: 180px;
  padding: 2px;
  animation: background 3s ease infinite;
}
.special-order .special-order__content {
  padding: 88px;
}

.product-list {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px;
  display: grid;
  grid-gap: 20px;
}
.product-list .product-list__item {
  height: 100% !important;
  background-repeat: no-repeat;
}
.product-list .product-list__item .description {
  bottom: 10px;
  font-size: 14px;
}
.product-list .product-list__item .description strong {
  font-size: 18px;
}

.footer {
  padding: 20px 0;
  border-top: dashed 2px #fff;
}

.contact-email {
  display: inline-block;
  float: left;
  font-family: "IBM Plex Mono", monospace;
  text-align: left;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}
.contact-email strong {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.contact-email .contact-email__form {
  width: 253px;
  margin: 10px 0;
  border: 2px solid white;
}
.contact-email .contact-email__form .contact-email__field-container {
  display: inline-block;
  width: 85%;
}
.contact-email .contact-email__form .contact-email__field-container .contact-email__input-field {
  background-color: transparent;
  color: #fff;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  padding: 5px 10px;
  padding-right: 0;
  display: block;
}
.contact-email .contact-email__form .contact-email__field-container_submit {
  display: inline;
  margin-right: 5px;
}
.contact-email .contact-email__form .contact-email__field-container_submit .contact-email__submit {
  background-color: transparent;
  color: white;
  height: 100%;
  font-size: 24px;
  line-height: 28px;
  vertical-align: baseline;
  transition: all 0.2s linear;
}
.contact-email .contact-email__form .contact-email__field-container_submit .contact-email__submit:hover {
  transform: translateX(5px);
}

.footer-menu {
  float: left;
  margin: 0 50px;
}
.footer-menu .footer-menu__list {
  display: grid;
  grid-template-columns: 60px 60px;
  grid-gap: 15px 40px;
  padding-top: 33px;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 15px;
}
.footer-menu .footer-menu__list .footer-menu__item {
  width: 110%;
  position: relative;
}

.social {
  float: left;
  margin-left: 65px;
}
.social .social__link-list {
  padding-top: 33px;
}
.social .social__link {
  position: relative;
  margin-bottom: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}
.social .social__link:before {
  position: absolute;
  top: -10px;
  left: -30px;
  content: "";
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
}
.social .social__link.social__link_tg:before {
  background-image: url("../img/social/tg.png");
}
.social .social__link.social__link_vk:before {
  background-image: url("../img/social/vk.png");
}
.social .social__link.social__link_inst:before {
  background-image: url("../img/social/inst.png");
}

#menu__toggle {
  opacity: 0;
}

.webp .promo-block:first-of-type {
  background-image: url("../img/content/StoneIsland.webp");
}

.no-webp .promo-block:first-of-type {
  background-image: url("../img/content/StoneIsland.png");
}

.webp .promo-block:nth-of-type(2) {
  background-image: url("../img/content/Carhartt.webp");
}

.no-webp .promo-block:nth-of-type(2) {
  background-image: url("../img/content/Carhartt.png");
}

.webp .special-order .special-order__content {
  background-image: url("../img/content/sales.webp");
}

.no-webp .special-order .special-order__content {
  background-image: url("../img/content/sales.png");
}

.webp .promo-block:nth-of-type(4) {
  background-image: url("../img/content/adidasOriginals.webp");
}

.no-webp .promo-block:nth-of-type(4) {
  background-image: url("../img/content/adidasOriginals.png");
}

.webp .promo-block:nth-of-type(5) {
  background-image: url("../img/content/airJordan.webp");
}

.no-webp .promo-block:nth-of-type(5) {
  background-image: url("../img/content/airJordan.png");
}

.webp .product-list__item:nth-of-type(1) {
  background-image: url("../img/content/items/reebok.webp");
}

.no-webp .product-list__item:nth-of-type(1) {
  background-image: url("../img/content/items/reebok.png");
}

.webp .product-list__item:nth-of-type(2) {
  background-image: url("../img/content/items/AJ1.webp");
}

.no-webp .product-list__item:nth-of-type(2) {
  background-image: url("../img/content/items/AJ1.png");
}

.webp .product-list__item:nth-of-type(3) {
  background-image: url("../img/content/items/levis.webp");
}

.no-webp .product-list__item:nth-of-type(3) {
  background-image: url("../img/content/items/levis.png");
}

@media screen and (min-width: 769px) and (max-width: 830px) {
  .header .container {
    width: 90%;
  }

  .container {
    width: 700px;
  }

  .main-content .container {
    grid-template-rows: 180px;
  }
  .main-content .container .promo-block {
    height: 180px;
  }

  .special-order {
    height: 150px;
  }
  .special-order .special-order__content {
    padding: 73px;
    background-position: center;
    background-size: 110%;
  }

  .product-list {
    grid-template-rows: 140px;
  }
  .product-list .product-list__item .description {
    width: 160px;
  }
  .product-list .product-list__item .description strong {
    font-size: 16px;
  }

  .description strong {
    font-size: 20px;
  }

  .contact-email {
    font-size: 12px;
  }
  .contact-email strong {
    font-size: 16px;
  }

  .footer-menu {
    margin: 0 25px;
  }
  .footer-menu .footer-menu__list {
    font-size: 12px;
    grid-gap: 15px 25px;
  }

  .social {
    margin-left: 45px;
  }
  .social .social__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }

  .header .container {
    width: 100%;
  }

  .container {
    width: 95%;
  }

  .main-content .container {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 250px;
  }

  .special-order {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 160px;
  }
  .special-order .special-order__content {
    padding: 78px;
    background-size: 100%;
    background-position: center;
  }

  .product-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: 100px;
    grid-gap: 10px;
  }
  .product-list .product-list__item .description {
    display: none;
  }

  /* стилизуем кнопку */
  .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }

  /* добавляем "гамбургер" */
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d0d0d0;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .hamburger-menu {
    margin: 0;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #232323;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 2;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  #menu__toggle:checked + .menu__btn {
    position: fixed;
  }

  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .container__heading-menu .heading-menu-list {
    display: flex;
    flex-direction: column;
  }
  .container__heading-menu .heading-menu-list .heading-menu-list__item {
    display: block;
  }
  .container__heading-menu .heading-menu-list .link:hover::after {
    animation: none;
  }

  .contact-email {
    font-size: 12px;
    width: 40%;
  }
  .contact-email strong {
    font-size: 16px;
  }
  .contact-email .contact-email__form {
    width: 100%;
  }

  .footer-menu {
    margin: 0 25px;
  }
  .footer-menu .footer-menu__list {
    font-size: 12px;
    grid-gap: 15px 25px;
  }

  .social {
    margin-left: 45px;
  }
  .social .social__link {
    font-size: 12px;
  }
}
@media screen and (max-width: 568px) {
  .product-list {
    grid-template-rows: 70px;
  }

  .contact-email {
    width: 100%;
  }
  .contact-email .contact-email__form {
    display: inline-block;
  }
  .contact-email .contact-email__form .contact-email__field-container {
    width: 90%;
  }
  .contact-email .contact-email__form .contact-email__field-container_submit {
    display: inline-block;
    width: 5%;
    margin: 0;
    padding-right: 10px;
  }
  .contact-email .contact-email__form .contact-email__field-container_submit .contact-email__submit {
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
  }

  .footer-menu {
    margin: 0;
    width: 100%;
  }
  .footer-menu .footer-menu__list {
    width: 100%;
    float: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 31px;
  }
  .footer-menu .footer-menu__list .footer-menu__item {
    width: auto;
    margin: 0 5px;
    line-height: 30px;
  }

  .social {
    float: none;
    margin: 0;
  }
  .social .social__link-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .social .social__link-list .social__link {
    margin: 0;
  }
}
@media screen and (max-width: 428px) {
  .main-content .container {
    grid-template-rows: 180px;
  }
  .main-content .container .promo-block {
    height: 180px;
  }

  .social .social__link-list .social__link:before {
    display: none;
  }
}