.cart {
  &__clear-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    color: $main1;
    font-weight: 500;
    position: absolute;
    right: 5px;
    top: 10px;
    span {
      margin-left: 5px;
    }
  }
  &__inner {
    padding: 20px;
    background-color: $white;
    box-shadow: 0px 4px 8px rgba(85, 85, 85, 0.05);
    border-radius: 4px;
    margin-bottom: 60px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    margin-right: 20px;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid rgba($black, 0.05);
    }
    tr + tr td {
      padding-top: 10px;
    }
    td {
      padding-bottom: 10px;
    }
  }
  &__item-img {
    width: 120px;
    padding-right: 20px;
    div {
      width: 100px;
      height: 100px;
      border: 1px solid $bgLight1;
      border-radius: 4px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  &__item-name {
    width: 260px;
    line-height: 20px;
  }
  &__item-count {
    width: 150px;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    .less,
    .more {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px auto;
      @include trans();
      cursor: pointer;
      &:hover {
        background-color: rgba($main1, 0.1);
      }
    }
    .less {
      background-image: url("../images/icons/minus.svg");
      margin-right: 10px;
    }
    .more {
      background-image: url("../images/icons/plus.svg");
      margin-left: 10px;
    }
    div {
      padding: 15px 27px;
      font-size: 15px;
      background: #f3f5f7;
      border-radius: 999px;
      width: 60px;
      height: 45px;
      position: relative;
    }
    input[type="number"] {
      -moz-appearance: textfield;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: none;
      border: none;
      text-align: center;
      width: 40px;
      background-color: transparent;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  &__item-total {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
  }
  &__item-delete {
    padding-left: 25px;
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
      outline: none;
    }
  }
  &__order {
    flex: 0 0 460px;
    padding: 20px 25px;
    background: $bgLight1;
    border-radius: 2px;
  }
  &__order-top {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($black, 0.05);
  }
  &__order-title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  &__order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    span {
      margin-left: 10px;
      font-weight: 600;
      b {
        font-weight: inherit;
      }
    }
  }
  &__order-middle {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($black, 0.05);
  }
  &__order-row {
    padding-top: 25px;
    .custom-radio {
      display: inline-block;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      input {
        display: none;
        & + div {
          background: $white;
          @include trans();
          padding: 8px 11px;
          box-shadow: 0px 4px 8px rgba(85, 85, 85, 0.05);
          border-radius: 4px;
        }
      }
      &:hover input + div {
        color: $main1;
      }
      input:checked + div {
        background: $main1;
        color: $white;
        box-shadow: 0px 4px 8px rgba(2, 120, 174, 0.3);
      }
    }
    .custom-check {
      display: none;
      & + label {
        position: relative;
        font-size: 14px;
        padding-left: 24px;
        a {
          padding-bottom: 1px;
          border-bottom: 1px solid $black;
        }
        &::before {
          @include trans();
          cursor: pointer;
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $bgLight2;
          border-radius: 3px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 8px 8px;
        }
        &:hover::before {
          background-color: $main1;
        }
      }
      &:checked + label::before {
        background-color: $main1;
        background-image: url("../images/icons/check.svg");
      }
    }
  }
  &__order-fields {
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    label {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 5px;
    }
    input[type="text"] {
      @include trans();
      display: block;
      max-width: 100%;
      width: 100%;
      border: 1px solid #e7ebef;
      border-radius: 4px;
      padding: 15px 5px 15px 20px;
      outline: none;
      color: $black;
      &:hover,
      &:focus {
        border-color: $main1;
      }
    }
  }
  &__order-flex {
    display: flex;
    justify-content: space-between;
    & > div {
      flex: 0 0 23%;
    }
  }
  &__order-subtitle {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__order-submit {
    margin: 30px 0 15px;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 32px;
    background: linear-gradient(87.22deg, #0278ae 0%, #02cac6 100%);
    box-shadow: 0px 4px 8px rgba(2, 120, 174, 0.3);
    border-radius: 4px;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__order-bottom {
    padding-top: 20px;
    text-align: center;
    span {
      display: block;
      font-size: 14px;
      color: $gray1;
      margin-bottom: 10px;
    }
    a {
      font-size: 30px;
      font-weight: 600;
    }
  }
}

@media (max-width: 1200px) {
  .cart {
    &__form {
      flex-direction: column;
    }
    &__item-name {
      width: auto;
    }
    &__item-total {
      width: 120px;
    }
  }
}

@media (max-width: 768px) {
  .cart {
    &__item-img {
      width: 70px;
      padding-right: 10px;
      div {
        width: 70px;
        height: 70px;
      }
    }
    &__item-name {
      font-size: 14px;
    }
    &__item-total {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .cart {
    &__list {
      display: flex;
      justify-content: center;
      td {
        padding-bottom: 0;
      }
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;
    }
    &__item-img {
      padding-right: 0;
      flex: 0 1 60%;
    }
    &__item-name {
      flex: 0 1 40%;
      text-align: left;
    }
    &__item-count {
      padding-left: 0;
      width: 120px;
    }
    &__item-total {
      width: auto;
    }
    &__item-delete {
      padding-left: 0;
    }
    &__order {
      padding: 20px 15px;
    }
    &__order-flex {
      flex-wrap: wrap;
      & > div {
        flex: 0 0 100%;
        &:last-child {
          margin-bottom: 15px;
        }
      }
    }
    &__order-row {
      .custom-radio input + div {
        font-size: 12px;
      }
      .custom-check + label {
        font-size: 11px;
      }
    }
    &__order-bottom {
      a {
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 360px) {
  .cart {
    &__clear-btn {
      top: 40px;
    }
  }
}
