@media (max-width: 1260px) {
  .call__inner {
    padding: 0 120px;
  }
}

@media (max-width: 1146px) {
  .footer .copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .copy ul {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1010px) {
  .promo__frame {
    width: 70%;
    max-width: 70%;
    margin-left: 20px;
  }
  .promo__frame img {
    width: 100%;
  }
  .advantages__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .advantages__inner > * {
    margin: 0;
    margin-bottom: 40px;
  }
  .advantages__text {
    max-width: 80%;
    margin: 0 auto;
  }
  .plan__inner {
    padding: 0 50px;
  }
  .plan .rate {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 960px) {
  .header__form {
    padding: 0 5px;
  }
  .header__form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
  }
  .header__form form > * {
    margin: 0 0 30px 0;
  }
  .cite__inner {
    padding-right: 0;
  }
  .call {
    padding-left: 20px;
    padding-right: 20px;
  }
  .call__inner {
    padding: 0 10px;
  }
  .footer__inner {
    padding: 0 120px;
  }
}

@media (max-width: 853px) {
  .cite__image {
    display: none;
  }
  .cite__inner {
    padding: 80px 20px;
  }
  .cite__content {
    padding: 0;
  }
}

@media (max-width: 736px) {
  .promo__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .promo__text, .promo__title {
    max-width: 100%;
  }
  .promo__frame {
    margin-bottom: 25px;
    margin-left: 0;
  }
  .plan__inner {
    padding: 0;
  }
  .plan .rate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner {
    padding: 0 60px;
  }
}

@media (max-width: 500px) {
  .promo__frame::after {
    padding: 18px;
  }
  .call__title {
    font-size: 48px;
    line-height: 55px;
  }
  .call__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
  .footer__inner {
    padding: 0;
  }
  .footer__menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px 0 0 -10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__menu ul > * {
    margin: 10px 0 0 10px;
  }
}

@media (max-width: 395px) {
  .header__title {
    font-size: 42px;
    line-height: 47px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 30px;
  }
  .promo__title {
    font-size: 32px;
    line-height: 48px;
  }
  .promo__frame {
    margin-bottom: 25px;
    margin-left: 0;
  }
}
