@media (max-width: 1024px) {
  nav {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__icon {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: #212121;
    outline: none;
  }
  .price {
    margin-bottom: 20px;
  }
  .blog__text {
    padding-bottom: 20px;
  }
  .contact__icon-wrapper {
    margin-top: 25px;
  }
}

@media (max-width: 793px) {
  .left, .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px;
  }
  .left .blog-item, .right .blog-item {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .btn {
    margin-bottom: 15px;
  }
  .about__title-item + p {
    margin-bottom: 60px;
  }
  .right > div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right > div:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 80px 0;
  }
  .btn {
    margin-bottom: 15px;
  }
  .header__title {
    font-size: 48px;
  }
  .header__text {
    margin-bottom: 20px;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .about__title-item + p {
    margin-bottom: 60px;
  }
  .services, .about, .pricing, .members, .blog, .contact,
  .portfolio {
    padding: 60px 0;
  }
  .items {
    padding: 30px 0;
  }
  .multiple-items {
    margin: 20px 0;
  }
  .members img {
    max-width: 100%;
  }
  .dots-style {
    margin-top: 30px;
  }
  .left, .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__text, .blog img {
    max-width: 100%;
  }
  .right > div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right > div:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog__btn {
    margin-top: 30px;
  }
  .blog__icons span {
    margin-right: 10px;
  }
}

@media (max-width: 340px) {
  .header__title {
    font-size: 36px;
  }
}
