@media (max-width: 1024px) {
   nav {
      display: none;

      ul {
         display: flex;
         flex-direction: column;
      }
   }

   .logo-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .menu__icon {
      display: block;
      background-color: transparent;
      border: none;
      font-size: 36px;
      cursor: pointer;
      color: #212121;
      outline: none;
   }

   .price {
      margin-bottom: 20px;
   }

   .blog__text {
      padding-bottom: 20px;
   }

   .contact__icon-wrapper {
      margin-top: 25px;
   }
}

@media (max-width: 793px) {
   .left, .right {
      flex-direction: column;
      align-items: center;
      margin: 0 0 50px;

      .blog-item  {
         width: 90%;
      }
   }
}

@media (max-width: 768px) {
   .btn {
      margin-bottom: 15px;
   }

   .about__title-item + p {
      margin-bottom: 60px;
   }

   .right > div:first-child {
      order: 1;
   }
   
   .right > div:last-child {
      order: 2;
   }
}

@media (max-width: 480px) {
   .header {
      padding: 80px 0;
   }

   .btn {
      margin-bottom: 15px;
   }

   .header__title {
      font-size: 48px;
   }

   .header__text {
      margin-bottom: 20px;
   }

   .about__text {
      margin-bottom: 40px;
   }

   .about__title-item + p {
      margin-bottom: 60px;
   }

   .services, .about, .pricing, .members, .blog, .contact,
   .portfolio {
      padding: 60px 0;
   }

   .items {
      padding: 30px 0;
   }

   .multiple-items {
      margin: 20px 0;
   }

   .members img {
      max-width: 100%;
   }

   .dots-style {
      margin-top: 30px;
   }

   .left, .right {
      flex-direction: column;
   }

   .blog__text, .blog img {
      max-width: 100%;
   }  

   .right > div:first-child {
      order: 1;
   }
   
   .right > div:last-child {
      order: 2;
   }

   .blog__btn {
      margin-top: 30px;
   }

   .blog__icons span {
      margin-right: 10px;
   }
}

@media (max-width: 340px) {
   .header__title {
      font-size: 36px;
   }
}