@font-face {
  font-family: "TTNorms-Light";
  src: url('../fonts/TTNorms-Light.woff') format('woff'),
      url('..fonts/TTNorms-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TTNorms-Regular";
  src: url('../fonts/TTNorms-Regular.woff') format('woff'),
      url('..fonts/TTNorms-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TTNorms-Medium";
  src: url('../fonts/TTNorms-Medium.woff') format('woff'),
      url('..fonts/TTNorms-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TTNorms-Bold";
  src: url('../fonts/TTNorms-Bold.woff') format('woff'),
      url('..fonts/TTNorms-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@mixin light-font {
  font-family: "TTNorms-Light", sans-serif;
  font-weight: 300;
}

@mixin regular-font {
  font-family: "TTNorms-Regular", sans-serif;
  font-weight: 400;
}

@mixin medium-font {
  font-family: "TTNorms-Medium", sans-serif;
  font-weight: 500;
}

@mixin bold-font {
  font-family: "TTNorms-Bold", sans-serif;
  font-weight: 600;
}
