@media screen and (min-width: 769px) and (max-width: 830px) {

	.header .container {
		width: 90%; 
	}
	.container {
		width: 700px;
	}

	.main-content {
		.container {
			grid-template-rows: 180px;

			.promo-block {
				height: 180px;
			}
		}
	}

	.special-order {
		height: 150px;

		.special-order__content {
			padding: 73px;
			background-position: center;
			background-size: 110%;
		}
	}

	.product-list {
		grid-template-rows: 140px;

		.product-list__item {

			.description {
				width: 160px;
			 	strong {
			 		
					font-size: 16px;
				}	
			}
			
		}
	}

	.description {

		strong {
			font-size: 20px;
		}
	}

	.contact-email {
		font-size: 12px;

		strong {
			font-size: 16px;
		}
	}

	.footer-menu {
		margin: 0 25px;
			.footer-menu__list {
				font-size: 12px;
				grid-gap: 15px 25px;
			}
		}

	.social {
		margin-left: 45px;
		.social__link {
			font-size: 12px;
		}

	}

}

@media screen and (max-width: 768px) {
	.header {
		padding-bottom: 0;
	}

	.header .container {
		width: 100%;
	}

	.container {
		width: 95%;
	}

	.main-content {
		.container {
			display: grid;
			grid-row-gap: 20px;
			grid-template-columns: 100%;
			grid-template-rows: 250px;
		}
	}

	.special-order {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		height: 160px;

		.special-order__content {
			padding: 78px;
			background-size: 100%;
			background-position: center;
		}
	}

	.product-list {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-template-rows: 100px;
		grid-gap: 10px;

		.product-list__item .description {
			display: none;
	
		}
	}

	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 3;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #d0d0d0;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  transition-duration: .25s;
	}
	
	.hamburger-menu {
		margin: 0;
	}

	/* контейнер меню */
	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  text-align: center;
	  background-color: #232323;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  transition-duration: .25s;
	  z-index: 2;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}

	#menu__toggle:checked + .menu__btn {
		position: fixed;
	}

	/* элементы меню */
	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  font-weight: 600;
	  text-decoration: none;
	}
	.menu__item:hover {
	  background-color: #CFD8DC;
	}

	.container__heading-menu .heading-menu-list {
		display: flex;
		flex-direction: column;

		.heading-menu-list__item {
			display: block;
			// padding: 50px 0;
		}

		.link:hover::after {
			animation: none;
		}

	}

	.contact-email {
		font-size: 12px;
		width: 40%;

		strong {
			font-size: 16px;
		}

		.contact-email__form {
			width: 100%;
		}
	}

	.footer-menu {
		margin: 0 25px;
			.footer-menu__list {
				font-size: 12px;
				grid-gap: 15px 25px;
			}
		}

	.social {
		margin-left: 45px;
		.social__link {
			font-size: 12px;
		}

	}

}

@media screen and (max-width: 568px) {

	.product-list {
		grid-template-rows: 70px;
		
	}


	.contact-email {
		width: 100%;

		.contact-email__form {
			display: inline-block;

			.contact-email__field-container {
				width: 90%;
			}

			.contact-email__field-container_submit {
				display: inline-block;
				width: 5%;
				margin: 0;
				padding-right: 10px;

				.contact-email__submit {
					font-family: "IBM Plex Mono", monospace;
					font-size: 20px;
				}
			}
		}
	}

	.footer-menu {
			margin: 0;
			width: 100%;

		.footer-menu__list {
			width: 100%;
			float: none;
			display: flex;
			flex-wrap: wrap;
			
			justify-content: space-around;
			padding-top: 31px;

			.footer-menu__item {
				width: auto;
				margin: 0 5px;
				line-height: 30px;

			}
		}
	}

	.social {
		float: none;
		margin: 0;
		
		.social__link-list {
			display: flex;
			justify-content: space-around;
			width: 100%;

			.social__link {
				margin: 0;
			}
		}
	}


}


@media screen and (max-width: 428px) {
	.main-content .container {
		grid-template-rows: 180px;

		.promo-block {
			height: 180px;
		}
	}

	.social {
		
		
		.social__link-list {
			

			.social__link {
				

				&:before {
					display: none;
				}
			}
		}
	}
}

