@media (max-width: 1800px) {
  .header-menu .whatsapp-link {
    right: 20px;
    top: 230px;
  }
}

@media (max-width: 1760px) {
  .header-banner__company {
    display: none;
  }
  .header-menu .whatsapp-link {
    right: 10px;
    top: 230px;
  }
  .descr__img-box_signature {
    display: none;
  }
  .descr__contact-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .descr__contact-box {
    margin: 0 20px 50px;
  }
  .descr__contact-phone {
    font-size: 32px;
  }
  .care__item {
    flex-shrink: 1;
  }
  .option::before {
    width: 100%;
  }
  .option__grid-item {
    flex: 0 1 50%;
    &:nth-child(2n)::before {
      display: none;
    }
  }
  .person__img {
    flex: 0 0 560px;
  }
  .person__logo-wrapper {
    padding-top: 225px;
  }
  .person__content {
    flex: 0 0 680px;
  }
}

@media (max-width: 1440px) {
  .footer__col_large {
    flex: 0 0 600px;
  }
}

@media (max-width: 1340px) {
  .person::before {
    width: 100%;
    height: 2120px;
  }
  .person__content {
    flex: 0 0 80%;
  }
  .person__img {
    display: none;
  }
  .person__img-mobile {
    display: block;
    max-width: 580px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .person__worker::before {
    bottom: 10px;
  }
  .person__inner {
    justify-content: center;
  }
  .person__article {
    margin-left: 0;
    margin-top: 40px;
  }
  .person__logo-wrapper {
    max-width: auto;
    width: 100%;
    margin: 0;
    padding-top: 170px;
  }
  .person__logo-wrapper {
    flex-wrap: wrap;
  }
  .person__logo-img {
    margin: 0 20px;
  }
}

@media (max-width: 1240px) {
  .descr::after {
    display: none;
  }
  .descr__left {
    flex: 0 0 100%;
  }
  .descr__right {
    flex: 0 0 100%;
    justify-content: center;
  }
  .care__article {
    padding-right: 35px;
  }
  .care__item {
    flex-basis: 48%;
  }
  .info__inner {
    flex-direction: column;
  }
  .info__article {
    padding-right: 0;
  }
  .info__article {
    order: 2;
  }
  .info__img-wrapper {
    order: 1;
    margin-bottom: 60px;
  }
  .info::before {
    width: 100%;
  }
  .blog .slick-active + .slick-slide:not(.slick-active) {
    transition: all 0.2s ease;
    opacity: 1;
  }
  .footer__phone-link {
    font-size: 50px;
  }
  .footer__col_large {
    flex: 0 0 490px;
  }
}

@media (max-width: 1106px) {
  .footer__col,
  .footer__col_address {
    display: none;
  }
  .footer__inner {
    flex-direction: column;
  }
  .tab {
    padding: 20px 40px;
    border-top: 1px solid $golden-orange;
    position: relative;
    .tab__btn {
      position: absolute;
      top: 30px;
      right: 20px;
      &::after {
        content: "+";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
        font-family: "Nuvo", sans-serif;
        font-weight: 600;
        color: $beige-orange;
        font-size: 16px;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid $golden-orange;
    }
  }
  .tab__title {
    text-transform: uppercase;
    font-family: "Nuvo", sans-serif;
    font-weight: 600;
    letter-spacing: 1.6px;
    color: $beige-orange;
  }
  .footer__col_large {
    flex: 0 0 auto;
  }

  .footer__tabs {
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 60px auto;
    ul {
      display: none;
      padding-top: 20px;
    }
    .footer__address-list {
      border-left: none;
      padding-left: 0;
    }
  }
  .footer__col_large {
    padding: 0;
  }
  .footer__logo {
    margin-top: 40px;
  }
  .footer__email.mobile {
    display: block;
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .header-banner__question {
    font-size: 16px;
    max-width: 120px;
  }
  .header-banner__main {
    font-size: 20px;
    line-height: 32px;
  }
  .header-banner__main_bold {
    font-size: 42px;
    line-height: 56px;
  }
}

@media (max-width: 968px) {
  .header-menu__top {
    height: auto;
  }
  .header-menu__list-mobile,
  .header-menu__map-mobile {
    display: block;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    padding: 20px;
    margin-bottom: 10px;
  }
  .header-menu__list-mobile {
    padding: 20px 15px;
  }
  .header-menu__list-btn {
    width: 30px;
    height: 20px;
    background-image: url("../images/icons/menu.svg");
    filter: saturate(100%);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header-menu__map-btn {
    width: 14px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    background-image: url("../images/icons/map-marker.svg");
    filter: saturate(100%);
  }
  .header-menu__hidden {
    position: fixed;
    left: -300px;
    z-index: 200;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #ca7c34;
    transition: all 0.2s ease;
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $white;
        right: 0px;
        bottom: 12px;
        transform: rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        right: 0px;
        bottom: 12px;
        background-color: $white;
        transform: rotate(-45deg);
      }
    }
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
      padding: 60px 10px 60px 30px;

      font-size: 21px;
      li {
        padding: 20px 0;
      }
    }
    &.open {
      transform: translateX(100%);
    }
  }
  ul.header-menu__top-desk {
    display: none;
  }
  ul.header-menu__top-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li {
      flex: 0 0 auto;
      &:first-of-type {
        font-style: italic;
      }
      &.img-container {
        padding: 0 20px;
        display: flex;
        align-items: center;
      }
    }
    .img-svg {
      width: 25px;
      height: 25px;
      path {
        fill: $golden-orange;
      }
    }
    .header-menu__top-phone {
      font-size: 22px;
      font-family: "Nuvo", sans-serif;
      line-height: 30px;
      color: $golden-orange;
      margin-left: 10px;
    }
  }
  .header-menu__contact,
  .header-menu__location,
  .header-menu__nav {
    display: none;
  }
  .header-banner {
    justify-content: center;
  }
  .header-banner__question {
    display: none;
  }
  .header-menu .whatsapp-link {
    display: none;
  }
  .header__contact-mobile {
    background-color: $green;
    display: flex;
    justify-content: center;
  }
  .header {
    padding-bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: initial;
  }
  .header-banner {
    display: none;
    &.mobile-banner {
      display: flex;
      width: 100%;
      text-align: center;
    }
  }
  .header-banner__main_bold {
    font-size: 33px;
  }
  .header-banner__city {
    font-size: 12px;
  }
  .header__contact-item {
    margin: 0 20px;
    padding: 30px 0;
    width: 100%;
    .img-svg {
      width: 30px;
      path {
        fill: $golden-orange;
      }
    }
  }
  .descr {
    padding-top: 50px;
  }
  .descr__left {
    flex: 0 0 100%;
  }
  .descr__right {
    padding-top: 60px;
    display: block;
    background-color: #fff;
  }
  .descr__title-mobile {
    display: block;
    font-size: 19px;
    color: $green;
    position: relative;
    padding-bottom: 60px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 20px;
      left: 0;
      background-color: #707070;
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #707070;
    }
  }
  .descr__col-1 {
    padding: 0;
    margin: 0;
    padding-top: 40px;
    margin: 0 auto;
    max-width: 480px;
    margin-bottom: 70px;
  }
  .descr__col-2 {
    max-width: 480px;
    margin: 0 auto;
  }
  .descr__before {
    padding-right: 40px;
  }
  .descr__img-box_signature {
    display: inline-block;
    right: -55px;
  }
  .descr__img-box_no-text {
    display: none;
  }
  .descr__link-btn {
    display: block;
    margin: 60px auto 0;
    color: $white;
    background-color: $golden-orange;
    padding: 15px 20px;
    max-width: 330px;
    width: 100%;
    font-style: italic;
    span {
      padding-bottom: 2px;
      border-bottom: 1px solid $white;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url('../images/icons/button-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .descr__bottom {
    display: none;
  }
  .descr__article-phone {
    display: none;
    &.mobile {
      display: flex;
      padding-left: 0;
      align-items: center;
      margin-bottom: 20px;
      padding: 100px 20px 15px;
      &::before {
        left: 50%;
        top: 25px;
        transform: translateX(-50%);
      }
      span {
        margin: 10px 0;
      }
    }
  }
  .descr__article-address {
    margin-top: 25px;
    font-style: italic;
    color: $beige-orange;
  }
  .descr__article-place {
    width: 100%;
    background-color: $white;
    padding: 20px 0;
    margin-top: 35px;
    li {
      display: inline-block;
      margin: 0 20px;
      font-size: 12px;
      font-weight: 600;
      font-family: "Nuvo", sans-serif;
      text-transform: uppercase;
      color: $golden-orange;
    }
  }
  .care__article-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .care__article-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 80px;
    margin-bottom: 100px;
    position: relative;
  }
  .care__article {
    flex: 0 0 auto;
  }
  .care__article-link {
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .care__item-img-hidden {
    display: none;
  }
  .care__item-more {
    max-width: 100%;
    text-align: center;
  }

  .option__grid-item {
    padding: 40px 60px;
  }
  .option__link {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .blog .slick-active + .slick-slide:not(.slick-active) {
    transition: all 0.2s ease;
    opacity: 0.5;
  }
  .footer__copy-list {
    flex-wrap: wrap;
  }
  .footer__copy-item {
    margin-bottom: 10px;
  }
  .person__img-mobile {
    max-width: 400px;
  }
  .person::before {
    height: 1950px;
  }
  .person .slick-slide {
    padding: 0 35px;
  }
  .person__logo-wrapper {
    margin: 0 -35px;
  }
  .person {
    padding-bottom: 80px;
  }
  .header-menu nav {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .care {
    padding: 70px 0;
  }
  .care__item {
    flex-basis: 100%;
  }
  .care__title {
    font-size: 12px;
  }
  .care__article {
    padding-left: 25px;
  }
  .care__article-title .otamendi {
    font-size: 38px;
  }
  .care__article-title {
    font-size: 19px;
  }
  .care__article-cite {
    font-size: 19px;
  }
  .care__article-text {
    font-size: 16px;
  }
  .care__item-img-box {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -180px;
    }
  }
  .care::before {
    height: 1400px;
  }
  .care__item-title {
    font-size: 19px;
  }
  .care__item-more,
  .care__article-link {
    padding: 18px 5px;
    font-size: 16px;
  }
  .info__article-title {
    display: none;
  }
  .info__article-title-mobile {
    display: block;
    order: 1;
    font-size: 42px;
    font-style: italic;
    line-height: 63px;
    color: #03322c;
    margin-bottom: 75px;
  }
  .info__img-content {
    padding: 60px 20px;
    text-align: center;
    position: relative;
    background-color: $green;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 9999px;
    //   height: 100%;
    //   top: 0;
    //   left: -50%;
    //   z-index: -1;
    //
    // }
  }
  .info__img-text {
    display: none;
  }
  .info__img-title {
    color: $white;
    font-size: 24px;
    line-height: 28px;
    display: block;
    padding: 40px 0;
    //max-width: 280px;
    margin: 0 auto;
    line-height: 28px;
    border-top: 1px solid $beige-orange;
    border-bottom: 1px solid $beige-orange;
  }
  .info__item-img-link.mobile {
    display: block;
    margin: 50px auto 0;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 16px;
    span {
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url('../images/icons/button-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .info__article {
    flex: 0 0 auto;
    margin-bottom: 40px;
  }
  .info__article-content {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .info__article-phone {
    display: none;
  }
  .info .descr__article-phone.mobile {
    display: flex;
    text-align: center;
    order: 5;
    margin-top: 0;
  }
  .info__img-wrapper {
    flex: 0 0 auto;
  }
  .slider__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .slider__name {
    font-size: 38px;
    line-height: 63px;
  }
  .slider__text {
    font-size: 19px;
    line-height: 29px;
  }
  .slider__signature {
    font-size: 14px;
  }
  .slider__arrows {
    top: auto;
    //transform: translate(0);
    bottom: 0px;
  }
  .slider__prev-arrow {
    bottom: 3px;
  }
  .slider {
    padding-top: 140px;
  }
  .slider__title {
    font-size: 19px;
  }
  .option__grid-img {
    .img-svg {
      width: 70px;
    }
  }
  .option__grid-signature {
    font-size: 16px;
  }
  .blog__slider-header {
    display: none;
  }
  .blog__slider-wrapper {
    padding-left: 0;
  }
  .blog__prev-arrow {
    left: 0;
  }
  .blog .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -145px;
    max-width: 220px;
    li {
      display: inline-block;
      margin: 0 10px 5px;
      button {
        background-color: #b9b9b9;
        outline: none;
        border-radius: 50%;
        border: none;
        font-size: 0;
        width: 7px;
        height: 7px;
        padding: 0;
        transition: all 0.2s ease;
        cursor: pointer;
      }
    }
    li.slick-active {
      button {
        transform: scale(2);
        background-color: $golden-orange;
      }
    }
  }
  .blog::after {
    height: 40px;
    bottom: 120px;
  }
  .blog__arrows {
    bottom: -145px;
  }
  .footer {
    padding-top: 80px;
  }
  .footer::before {
    display: none;
  }
  .person__img-mobile {
    max-width: 300px;
  }
  .person__worker::before {
    content: "";
    width: 90px;
    height: 100px;
    background-image: url(../images/icons/person-before.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .person__worker {
    padding-right: 0px;
  }
  .care__item-content.hover {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 568px) {
  .header-menu__logo .img-svg {
    width: 155px;
  }
  .header-menu__list-mobile,
  .header-menu__map-mobile {
    margin-bottom: 0;
    padding: 15px;
  }
  .descr__left-title {
    font-size: 33px;
    line-height: 39px;
  }
  .descr__left-subtitle {
    font-size: 12px;
    margin-left: 20px;
  }
  .descr__left-title span {
    margin-left: 25px;
  }
  .descr__article {
    padding-left: 25px;
  }
  .descr__article-cite {
    font-size: 19px;
    line-height: 28px;
  }
  .descr__article-text {
    font-size: 16px;
  }
  .care__item-img-box {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -100px;
    }
  }
  .info__article-subtitle {
    font-size: 19px;
    margin-bottom: 25px;
  }
  .info__article-text {
    font-size: 16px;
  }
  .info__article-title-mobile {
    font-size: 26px;
    line-height: 38px;
  }
  .info__title {
    font-size: 19px;
  }
  .info__img-box {
    width: 100%;
    height: 320px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
  .info__item-img-hidden {
    display: none;
  }
  .option__title {
    font-size: 26px;
    line-height: 38px;
  }
  .option__subtitle {
    font-size: 19px;
    line-height: 28o;
  }
  .option__grid-item {
    padding: 30px 5px;
  }
  .option__title-bottom {
    font-size: 38px;
  }
  .blog__slider-item {
    max-width: 360px;
  }
  .blog__slider-content {
    height: 400px;
  }
  .blog__slider-title {
    font-size: 19px;
    line-height: 23px;
  }
  .blog__slider-date,
  .blog__slider-source {
    color: #7b7b7b;
    font-size: 16px;
  }
  .blog__slider-link {
    display: none;
  }
  .blog__hidden {
    display: none;
  }
  .footer__phone-link {
    font-size: 40px;
  }
  .person__title {
    font-size: 12px;
  }
  .person__worker-name {
    font-size: 38px;
  }
  .person__worker {
    font-size: 19px;
  }
  .person__article {
    padding-left: 25px;
  }
  .person__link {
    width: 100%;
    text-align: center;
    padding: 12px 10px;
  }
  .person__article-subtitle {
    font-size: 19px;
  }
  .person__article-text {
    font-size: 16px;
  }
}

@media (max-width: 468px) {
  .care::before {
    height: 1600px;
  }
  .care__item-img-box {
    width: 100%;
    height: 245px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -40px;
    }
  }
  .blog__slider-item {
    max-width: 300px;
    height: 565px;
  }
  .blog__slider-content {
    height: 370px;
  }
  .footer__email.mobile {
    font-size: 14px;
  }
  .person::before {
    height: 2000px;
  }
}

@media (max-width: 368px) {
  .care::before {
    height: 1760px;
  }
  .care__item-img-box {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -40px;
    }
  }
  .person::before {
    height: 2200px;
  }
}
