@import "vars";
@import "fonts";
@import "libs";
@import "global";

.header-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  &__top {
    height: 40px;
    background-color: $green;
    color: $beige-orange;
    font-size: 13px;
    padding: 13px 0;
    letter-spacing: 0.05px;
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        flex: 0 0 33.333%;
        text-align: center;
      }
      li:first-of-type {
        text-align: left;
      }
      li:nth-of-type(2) {
        font-style: italic;
      }
      li:last-of-type {
        text-align: right;
      }
    }
  }
  &__list-mobile,
  &__map-mobile {
    display: none;
  }
  &__bottom {
    padding: 38px 0 20px;
    transition: all 0.2s ease;
  }
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
  }
  .whatsapp-link {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 140px;
    .img-svg path {
      fill: #03322c;
    }
  }
  &__contact,
  &__location,
  &__logo {
    flex: 0 0 33.333%;
  }
  nav {
    flex: 0 0 100%;
  }
  &__logo {
    .img-svg {
      width: 270px;
      path {
        fill: #ffffff;
      }
    }
  }
  &__location,
  &__contact {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
  }
  &__contact {
    text-align: left;
    position: relative;
    padding: 10px 0 8px 65px;
    span {
      display: block;
    }
    a {
      display: inline-block;
      @extend %nuvo-normal;
      font-size: 30px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/icons/phone.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 44px;
      height: 44px;
    }
  }
  &__location {
    font-size: 18px;
    line-height: 28px;
    padding: 22px 30px 22px 0;
    position: relative;
    text-align: right;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 23px;
      background-image: url("../images/icons/map-marker.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  nav {
    padding-top: 40px;
  }
  &__nav {
    li {
      display: inline-block;
      font-size: 18px;
      line-height: 28px;
      margin: 0 24px 15px;
    }
  }
  &.scrolling {
    .header-menu__bottom {
      background-color: $green;
    }
    .header-menu__logo {
      .img-svg path {
        fill: $beige-orange;
      }
    }
    .header-menu__contact,
    .header-menu__location {
      color: $beige-orange;
      border-color: #be7f43;
      &::before {
        filter: invert(49%) sepia(96%) saturate(363%) hue-rotate(347deg)
          brightness(90%) contrast(88%);
      }
    }
    .header-menu__contact {
      a {
        color: $golden-orange;
      }
    }
    .whatsapp-link {
      filter: invert(50%) sepia(84%) saturate(314%) hue-rotate(348deg)
        brightness(91%) contrast(91%);
    }
  }
}

ul.header-menu__top-mobile {
  display: none;
}

.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 60px;
  &__contact-mobile {
    display: none;
  }
}

.header-banner {
  background-color: #fff;
  padding: 15px 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &.mobile-banner {
    display: none;
  }
  &__company {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    width: 60px;
    text-align: center;
    img {
      display: inline-block;
      margin: 5px 0;
    }
  }
  &__question {
    font-size: 19px;
    font-style: italic;
    color: #959595;
    max-width: 160px;
    padding: 25px 0;
    border-right: 1px solid #e2e2e2;
    &:last-of-type {
      border-right: none;
      border-left: 1px solid #e2e2e2;
    }
  }
  &__main {
    color: $green;
    font-size: 28px;
    line-height: 40px;
    max-width: 650px;
  }
  &__main_bold {
    font-size: 50px;
    line-height: 63px;
    @extend %otamendi-normal;
    color: $beige;
  }
  &__city {
    @extend %nuvo-normal;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: 0.16px;
    color: $golden-orange;
    font-size: 16px;
    li {
      display: inline-block;
    }
    li + li {
      padding-left: 15px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $golden-orange;
      }
    }
  }
}

.descr {
  padding: 185px 0 80px;
  color: $green;
  position: relative;
  &::after {
    content: "";
    width: 40%;
    height: 100%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: -1;

    right: 0;
    top: 0;
  }
  &__title-mobile {
    display: none;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__right {
    flex: 0 0 48%;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    flex: 0 0 40%;
    text-align: left;
  }
  &__left-title {
    font-size: 66px;
    line-height: 60px;
    span {
      margin-left: 60px;
    }
  }
  &__left-subtitle {
    margin-left: 55px;
    color: #be7f43;
    @extend %nuvo-normal;
    line-height: 44px;
    letter-spacing: 1.6px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__article {
    margin-top: 50px;
    padding: 15px 0 27px 55px;
    border-left: 1px solid $bordeaux;
  }
  &__article-cite {
    font-size: 24px;
    line-height: 34px;
    color: $green;
    margin-bottom: 25px;
  }
  &__article-text {
    @extend %nuvo-normal;
    font-size: 19px;
    line-height: 32px;
    color: #5c5c5c;
    span {
      @extend %droid-normal;
      font-style: italic;
      border-bottom: 1px solid #be7f43;
      padding-bottom: 3px;
    }
    a {
      display: inline;
    }
  }
  &__article-phone {
    margin-top: 75px;
    background-color: $bordeaux;
    width: 100%;
    padding: 14px 0 17px 94px;
    position: relative;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-style: italic;
    transition: all 0.2s ease;
    &.mobile {
      display: none;
    }
    &:hover {
      background-color: $golden-orange;
      .descr__article-link {
        color: $white;
      }
      &::before {
        filter: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/phone.svg");
      width: 55px;
      height: 55px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      filter: invert(50%) sepia(55%) saturate(555%) hue-rotate(348deg)
        brightness(96%) contrast(91%);
      transition: all 0.2s ease;
    }
  }
  &__article-work {
    display: inline-block;
    @extend %nuvo-normal;
    font-size: 21px;
  }
  &__article-link {
    @extend %nuvo-normal;
    display: inline-block;
    font-size: 40px;
    line-height: 48px;
    color: $beige-orange;
  }
  &__img-box {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }
  &__img-box_hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 40px 15px 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(#03322c, 0.9);
    top: 0;
    left: 0;
    overflow: hidden;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;

    .descr__down-link {
      color: $white;
    }
  }
  &__img {
    position: relative;
    overflow: hidden;
    &:hover {
      .descr__img-box_hidden {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__img-phone {
    font-size: 42px;
    border-top: 1px solid $beige-orange;
    border-bottom: 1px solid $beige-orange;
    padding: 38px 0 40px;
    position: relative;
    margin-bottom: 35px;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__img-cite {
    font-size: 19px;
    line-height: 30px;
    position: relative;
    padding: 30px 20px 20px;
    margin-bottom: 10px;
    font-style: italic;
    &::before {
      content: "“";
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
    }
    &::after {
      content: "„ ";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
    }
  }
  &__img-title {
    font-size: 24px;
    color: $green;
    line-height: 28px;
  }
  &__img-title_hidden {
    @extend %nuvo-normal;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 1.6px;
    color: $beige-orange;
    margin-bottom: 50px;
  }
  &__col-1 {
    padding-top: 68px;
    margin-right: 55px;
  }
  &__info-box {
    text-align: left;
    padding: 27px 0 14px 35px;
  }
  &__down-link {
    display: inline-block;
    margin-top: 22px;
    font-size: 21px;
    @extend %nuvo-normal;
    line-height: 28px;
    padding-left: 43px;
    position: relative;
    color: $bordeaux;
    .img-svg {
      path {
        fill: $bordeaux;
      }
      width: 40px;
      padding-right: 10px;
      margin-bottom: -10px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 40px;
      background-image: url("../images/icons/PDF-Download.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &.not-before {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }
  &__img-box_signature {
    position: absolute;
    transform: rotate(-90deg);
    color: #7b7b7b;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    right: -90px;
    top: 60px;
  }
  &__img-status {
    color: #7b7b7b;
    font-size: 19px;
    line-height: 32px;
    margin-top: 5px;
    @extend %nuvo-normal;
  }
  &__img-box_no-text {
    margin-top: 35px;
  }
  &__link-btn {
    display: none;
  }
  &__bottom {
    margin-top: 125px;
    flex: 0 0 100%;
    background-color: $white;
    padding: 77px 53px;
  }
  &__bottom-title {
    font-size: 28px;
    color: $green;
    line-height: 33px;
    padding-bottom: 45px;
    position: relative;
    &::before {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
    }
  }
  &__contact-inner {
    padding: 90px 40px 40px;
    border-top: 1px solid #707070;
    display: flex;
    justify-content: space-between;
  }
  &__contact-city {
    font-size: 22px;
    line-height: 25px;
    color: $green;
    margin-bottom: 20px;
  }
  &__contact-phone {
    @extend %nuvo-normal;
    font-size: 40px;
    text-transform: uppercase;
    color: $golden-orange;
    margin-bottom: 24px;
    transition: all 0.2s ease;
    &:hover {
      color: $bordeaux;
    }
  }
  &__contact-address {
    color: #7b7b7b;
    font-size: 22px;
    line-height: 22px;
    @extend %nuvo-normal;
  }
}

.care {
  padding: 160px 0;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 1600px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $green;
    z-index: -1;
  }
  &__title {
    color: $beige-orange;
    text-transform: uppercase;
    @extend %nuvo-normal;
    font-weight: 600;
    letter-spacing: 1.6px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $beige-orange;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__inner {
    padding-top: 80px;
    text-align: left;
  }
  &__article-title {
    text-align: left;
    color: $beige;
    font-style: italic;
    font-size: 42px;
    line-height: 63px;
    max-width: 720px;
    margin-bottom: 60px;
    .otamendi {
      font-size: 70px;
      @extend %otamendi-normal;
    }
  }
  &__article-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
  }
  &__article {
    flex: 0 1 770px;
    padding: 15px 150px 15px 60px;
    border-left: 1px solid #f2cfb0;
  }
  &__article-cite {
    font-size: 24px;
    line-height: 34px;
    color: $beige-orange;
    margin-bottom: 20px;
  }
  &__article-text {
    font-size: 19px;
    @extend %nuvo-normal;
    line-height: 32px;
    span {
      border-bottom: 1px solid #be7f43;
      padding-bottom: 3px;
      @extend %droid-normal;
      font-style: italic;
    }
    a {
      display: inline;
    }
  }
  &__article-text_italic {
    font-style: italic;
    font-family: inherit;
    display: inline;
    color: $beige-orange;
    border-bottom: 1px solid #be7f43;
  }
  &__article_margin {
    margin-bottom: 20px;
    &:last-of-type {
      margin-top: 20px;
    }
  }
  &__article-text + .care__article-text {
    margin-top: 15px;
  }
  &__article-link {
    background-color: $golden-orange;
    padding: 18px 18px;
    font-size: 17px;
    font-style: italic;
    margin-top: 120px;

    span {
      border-bottom: 1px solid $white;
      padding-bottom: 3px;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 0 32%;
    margin-bottom: 50px;
  }
  &__item-img-hidden {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 57px 47px 42px 43px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#03322c, 0.9);
    transition: all 0.2s ease;
  }
  &__item-img-box {
    position: relative;
    &:hover {
      .care__item-img-hidden {
        opacity: 1;
        visibility: visible;
      }
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &__item-img-subtitle {
    @extend %nuvo-normal;
    letter-spacing: 1.6px;
    color: $beige-orange;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 42px;
    display: inline-block;
  }
  &__item-img-title {
    display: block;
    font-size: 42px;
    border-top: 1px solid $beige-orange;
    border-bottom: 1px solid $beige-orange;
    padding: 48px 0;
    width: 100%;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item-img-text {
    font-size: 19px;
    line-height: 30px;
    position: relative;
    padding: 38px 20px 20px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    &::before {
      content: "“";
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
    }
    &::after {
      content: "„ ";
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
    }
  }
  &__item-img-link {
    background-color: $golden-orange;
    padding: 18px 30px;
    font-size: 17px;
    font-style: italic;
    width: 100%;
    text-align: center;
    //margin-top: 100px;
    span {
      border-bottom: 1px solid $white;
      padding-bottom: 3px;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  &__item-content {
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 10px;
    transition: all .2s ease;
    &.hover {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    color: $green;
    margin-bottom: 12px;
    display: inline-block;
  }
  &__item-text {
    @extend %nuvo-normal;
    font-size: 19px;
    line-height: 32px;
    color: #7b7b7b;
    padding-right: 40px;
  }
  &__item-more {
    background-color: $golden-orange;
    padding: 18px 15px;
    font-size: 16px;
    font-style: italic;
    margin-top: 120px;
    display: block;
    max-width: 340px;
    margin: 40px auto 0;
    text-align: center;
    span {
      border-bottom: 1px solid $white;
      padding-bottom: 3px;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.info {
  position: relative;
  &::before {
    content: "";
    width: 45%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 90px;
    background-color: #f6f6f6;
    z-index: -1;
  }
  &__title {
    color: $green;
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #707070;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      bottom: 2px;
      left: 50%;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
    text-align: left;
  }
  &__article {
    flex: 0 1 725px;
    padding-right: 100px;
  }
  &__article-title {
    font-size: 42px;
    font-style: italic;
    line-height: 63px;
    color: $green;
    margin-bottom: 75px;
  }
  &__article-content {
    padding-left: 55px;
    padding-top: 60px;
    padding-bottom: 55px;
    border-left: 1px solid $bordeaux;
  }
  &__article-subtitle {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
    color: $green;
  }
  &__article-text {
    color: #747474;
    font-size: 19px;
    line-height: 32px;
    @extend %nuvo-normal;
    span {
      @extend %droid-normal;
      font-style: italic;
      padding-bottom: 3px;
      border-bottom: 1px solid #be7f43;
    }
    a {
      display: inline;
    }
  }
  &__article-phone {
    margin-top: 20px;
    background-color: $bordeaux;
    width: 100%;
    padding: 14px 0 17px 94px;
    position: relative;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-style: italic;
    transition: all 0.2s ease;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/phone.svg");
      width: 55px;
      height: 55px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      filter: invert(50%) sepia(55%) saturate(555%) hue-rotate(348deg)
        brightness(96%) contrast(91%);
      transition: all 0.2s ease;
    }
    &:hover {
      background-color: $golden-orange;
      .info__article-link {
        color: $white;
      }
      &::before {
        filter: none;
      }
    }
  }
  &__article-work {
    display: inline-block;
    @extend %nuvo-normal;
    font-size: 21px;
  }
  &__article-link {
    @extend %nuvo-normal;
    display: inline-block;
    font-size: 40px;
    line-height: 48px;
    color: $beige-orange;
  }
  &__article-title-mobile {
    display: none;
  }
  &__img-wrapper {
    flex: 0 1 755px;
  }
  &__item-img-hidden {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 57px 47px 42px 43px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#03322c, 0.9);
    transition: all 0.2s ease;
  }
  &__img-box {
    position: relative;
    &:hover {
      .info__item-img-hidden {
        opacity: 1;
        visibility: visible;
      }
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &__item-img-subtitle {
    @extend %nuvo-normal;
    letter-spacing: 1.6px;
    color: $beige-orange;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 42px;
    display: inline-block;
  }
  &__item-img-title {
    display: block;
    font-size: 42px;
    border-top: 1px solid $beige-orange;
    border-bottom: 1px solid $beige-orange;
    padding: 48px 0;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item-img-link {
    background-color: $golden-orange;
    padding: 18px 30px;
    font-size: 17px;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: auto;
    max-width: 400px;
    span {
      border-bottom: 1px solid $white;
      padding-bottom: 3px;
    }
  }
  &__item-img-link.mobile {
    display: none;
  }
  &__img-content {
    padding-top: 30px;
    padding-left: 30px;
  }
  &__img-title {
    color: $green;
    font-size: 24px;
    line-height: 28px;
  }
  &__img-text {
    margin-top: 10px;
    padding-right: 190px;
    color: #7b7b7b;
    font-size: 19px;
    line-height: 32px;
    @extend %nuvo-normal;
  }
  .descr__article-phone.mobile {
    display: none;
  }
}

.slider {
  padding: 240px 0 120px;
  &__title {
    color: $green;
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #707070;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      bottom: 2px;
      left: 50%;
    }
  }
  &__inner {
    position: relative;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #707070;
      position: absolute;
      bottom: 70px;
      left: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      bottom: 50px;
      left: 50%;
    }
  }
  &__item {
    padding-top: 30px;
    padding-bottom: 60px;
    outline: none;
  }
  &__photo {
    margin: 0 auto;
  }
  &__name {
    @extend %otamendi-normal;
    font-size: 80px;
    line-height: 84%;
    color: $green;
    margin: 40px 0 20px;
  }
  &__content {
    margin: 0 auto;
    font-style: italic;
    font-size: 28px;
    line-height: 40px;
    color: $golden-orange;
    padding-bottom: 60px;
    max-width: 1020px;
    position: relative;
    &::after {
      position: absolute;
      content: "„";
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
    }
    p + p {
      margin-top: 30px;
    }
  }
  &__signature {
    color: #7b7b7b;
    line-height: 32px;
    max-width: 550px;
    margin: 0 auto;
  }
  &__signature-status {
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
  &__signature-place {
    font-size: 19px;
    @extend %nuvo-normal;
  }
  &__arrows {
    width: 65px;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    filter: invert(12%) sepia(40%) saturate(2637%) hue-rotate(293deg)
      brightness(92%) contrast(95%);
    &.slick-disabled {
      filter: invert(97%) sepia(1%) saturate(0%) hue-rotate(204deg)
        brightness(89%) contrast(90%);
      cursor: default;
    }
  }
  &__next-arrow {
    left: auto;
    right: 0;
  }
  &__prev-arrow {
    transform: rotate(-180deg);
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    max-width: 220px;
    li {
      display: inline-block;
      margin: 0 10px 5px;
      button {
        background-color: #b9b9b9;
        outline: none;
        border-radius: 50%;
        border: none;
        font-size: 0;
        width: 7px;
        height: 7px;
        padding: 0;
        transition: all 0.2s ease;
        cursor: pointer;
      }
    }
    li.slick-active {
      button {
        transform: scale(2);
        background-color: $golden-orange;
      }
    }
  }
}

.person {
  padding: 120px 0 150px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 1350px;
    background-color: $green;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img {
    flex: 0 0 665px;
    img {
      display: block;
      width: 100%;
    }
  }
  &__img-mobile {
    display: none;
  }
  &__content {
    flex: 0 0 760px;
    text-align: left;
  }
  &__title {
    letter-spacing: 1.6px;
    font-weight: 600;
    @extend %nuvo-normal;
    color: $beige-orange;
    text-transform: uppercase;
    padding-bottom: 80px;
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 100%;
      height: 1px;
      background-color: $beige-orange;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 1px;
      height: 40px;
      background-color: $beige-orange;
    }
  }
  &__worker {
    color: $beige;
    padding-right: 170px;
    font-size: 24px;
    padding-bottom: 125px;
    position: relative;
    &::before {
      content: "";
      width: 143px;
      height: 145px;
      background-image: url("../images/icons/person-before.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__worker-name {
    @extend %otamendi-normal;
    font-size: 54px;
    line-height: 63px;
  }
  &__article {
    padding: 15px 0 30px 60px;
    border-left: 1px solid #f2cfb0;
    margin-bottom: 70px;
    margin-left: 130px;
  }
  &__article-subtitle {
    font-size: 24px;
    line-height: 34px;
    max-width: 390px;
    color: $beige-orange;
    margin-bottom: 25px;
  }
  &__article-text {
    @extend %nuvo-normal;
    font-size: 19px;
    line-height: 32px;
    span {
      @extend %droid-normal;
      border-bottom: 1px solid #be7f43;
      padding-bottom: 3px;
      font-style: italic;
    }
    a {
      display: inline;
    }
  }
  &__article-text + .person__article-text {
    margin-top: 40px;
  }
  &__link {
    background-color: $golden-orange;
    font-size: 17px;
    font-style: italic;
    line-height: 26px;
    padding: 17px 100px;
    transition: all 0.2s ease;
    span {
      padding-bottom: 2px;
      border-bottom: 1px solid $white;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:hover {
      background-color: $okar;
    }
  }
  &__logo-wrapper {
    max-width: 1140px;
    width: 100%;
    align-items: flex-start;
    margin-left: 382px;
    display: flex;
    padding-top: 170px;
    justify-content: space-between;
  }
  &__logo-img {
    img {
      margin-left: 0px;
      display: block;
      width: 100%;
    }
  }
}

.option {
  padding: 90px 0 100px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 100%;
    z-index: -1;
    background-color: #f6f6f6;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &__inner {
    color: $green;
  }
  &__title {
    font-style: italic;
    font-size: 42px;
    line-height: 63px;
    margin-bottom: 20px;
    max-width: 930px;
    text-align: left;
  }
  &__subtitle {
    text-align: left;
    font-size: 24px;
    line-height: 34px;
    max-width: 760px;
  }
  &__grid {
    padding: 80px 0 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__grid-item {
    padding: 70px 100px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 80%;
      background-color: #e6e0d2;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 1px;
      background-color: #e6e0d2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(4),
    &:nth-child(8) {
      &::before {
        display: none;
      }
    }
  }
  &__grid-img {
    transition: all 0.2s ease;
    .img-svg {
      width: 123px;
      path,
      rect {
        fill: $golden-orange;
      }
    }
  }
  &__grid-item {
    &:hover {
      .img-svg path,
      .img-svg rect {
        transition: all 0.2s ease;
        fill: $bordeaux;
      }
    }
  }
  &__grid-signature {
    font-size: 24px;
    line-height: 28px;
    color: #707070;
    margin-top: 20px;
  }
  &__title-bottom {
    color: $bordeaux;
    @extend %otamendi-normal;
    font-size: 54px;
    line-height: 63px;
    display: block;
    text-align: center;
    position: relative;
    padding-bottom: 65px;
    margin-bottom: 40px;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #707070;
      position: absolute;
      bottom: 20px;
      left: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
  &__link {
    color: $white;
    background-color: #ca7c34;
    font-size: 17px;
    font-style: italic;
    line-height: 26px;
    padding: 17px 70px;
    transition: all 0.2s ease;
    span {
      padding-bottom: 2px;
      border-bottom: 1px solid $white;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}

.blog {
  padding-top: 160px;
  padding-bottom: 155px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 140px;
    left: 0;
    height: 1px;
    background-color: #707070;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 155px;
    background-color: #707070;
  }
  &__title {
    color: #03322c;
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #707070;
      position: absolute;
      bottom: 20px;
      left: 0;
    }
    &::after {
      content: "";
      width: 1px;
      height: 40px;
      background-color: #707070;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
  &__slider-wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 130px;
    position: relative;
  }
  &__slider-inner {
    text-align: left;
    overflow: visible;
  }
  .slick-active + .slick-slide:not(.slick-active) {
    transition: all 0.2s ease;
    opacity: 0.5;
  }
  &__slider-item {
    max-width: 490px;
    background-color: #f6f6f6;
    position: relative;
    margin: 0 20px;
    height: 630px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background-color: $golden-orange;
    }
  }
  &__slider-content {
    padding: 35px 35px 25px 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 317px;
  }
  &__slider-img {
    img {
      display: block;
      width: 100%;
    }
  }
  &__slider-title {
    font-size: 24px;
    line-height: 34px;
    color: $green;
    margin-bottom: 15px;
  }
  &__slider-text {
    font-size: 19px;
    @extend %nuvo-normal;
    line-height: 32px;
    color: #7b7b7b;
    max-width: 430px;
    text-overflow: ellipsis;
  }
  &__slider-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
  }
  &__slider-row-part {
    display: flex;
    flex-direction: column;
  }
  &__slider-date,
  &__slider-source {
    color: #7b7b7b;
    font-size: 19px;
    @extend %nuvo-normal;
  }
  &__slider-source {
    font-weight: 600;
    padding-top: 5px;
    text-transform: uppercase;
  }
  &__slider-link {
    color: $golden-orange;
    font-style: italic;
    font-size: 17px;
    line-height: 26px;
    span {
      border-bottom: 1px solid $bordeaux;
      padding-bottom: 2px;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        z-index: 10000000;
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: invert(50%) sepia(58%) saturate(579%) hue-rotate(348deg) brightness(96%) contrast(84%);
      }
    }
  }
  &__hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($green, 0.9);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 44px 40px 40px;
    transition: all 0.2s ease;
  }
  &__hidden-subtitle {
    font-weight: 600;
    @extend %nuvo-normal;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: $beige-orange;
  }
  &__hidden-title {
    display: block;
    font-size: 42px;
    border-top: 1px solid #faceab;
    border-bottom: 1px solid #faceab;
    padding: 40px 0 30px;
    width: 100%;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: #faceab;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: #faceab;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__hidden-text {
    max-width: 430px;
    font-style: italic;
    text-align: center;
    font-size: 19px;
    line-height: 30px;
    margin: 38px 0 40px;
  }
  &__hidden-link {
    background-color: #ca7c34;
    padding: 18px 60px;
    width: 100%;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    span {
      border-bottom: 1px solid $white;
      padding-bottom: 2px;
      padding-right: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 5px;
        right: 0;
        top: 7px;
        background-image: url("../images/icons/button-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  &__slider-item:hover {
    .blog__hidden {
      opacity: 1;
      visibility: visible;
    }
  }
  &__arrows {
    width: 50px;
    position: absolute;
    left: 0;
    bottom: -60px;
    cursor: pointer;
    filter: invert(12%) sepia(40%) saturate(2637%) hue-rotate(293deg)
      brightness(92%) contrast(95%);
    &.slick-disabled {
      filter: invert(97%) sepia(1%) saturate(0%) hue-rotate(204deg)
        brightness(89%) contrast(90%);
      cursor: default;
    }
  }
  &__next-arrow {
    left: auto;
    right: 0;
  }
  &__prev-arrow {
    transform: rotate(180deg);
    left: -115px;
  }
  &__slider-header {
    position: absolute;
    left: -150px;
    top: 245px;
    color: #7b7b7b;
    letter-spacing: 1.6px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    span {
      padding-left: 100px;
    }
  }
}

.footer {
  padding: 150px 0 30px;
  position: relative;
  background-color: $green;
  &::before {
    content: "";
    width: 1px;
    height: 115px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: $golden-orange;
  }
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
  }
  &__col {
    padding-right: 100px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 300px;
      background-color: $golden-orange;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__box {
    margin-bottom: 30px;
  }
  &__title {
    text-transform: uppercase;
    @extend %nuvo-normal;
    font-weight: 600;
    letter-spacing: 1.6px;
    color: $beige-orange;
    margin-bottom: 25px;
  }
  &__menu-list-item {
    @extend %nuvo-normal;
    line-height: 32px;
    padding-left: 25px;
    position: relative;
    transition: all 0.2s ease;
    a {
      display: block;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("../images/icons/button-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 15px;
      height: 5px;
      transition: all .2s ease;
    }
    &:hover {
      color: $golden-orange;
      &::before {
        filter: invert(50%) sepia(58%) saturate(579%) hue-rotate(348deg) brightness(96%) contrast(84%);
      }
    }

  }
  &__col_large {
    flex: 0 0 800px;

    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 30px;
    .italic {
      font-style: italic;
    }
  }
  &__phone-icon {
    margin-bottom: 35px;
    .img-svg {
      width: 55px;
      height: 55px;
      path {
        fill: $beige-orange;
      }
    }
  }
  &__phone-link {
    font-size: 60px;
    color: $golden-orange;
    @extend %nuvo-normal;
    margin: 20px 0 30px;
  }
  &__day-support {
    @extend %nuvo-normal;
    font-size: 21px;
    line-height: 28px;
  }
  &__address-list {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-left: 1px solid $golden-orange;
  }
  &__address-box {
    display: flex;
    flex-direction: column;
    & + & {
      margin-top: 30px;
    }
  }
  &__address {
    @extend %nuvo-normal;
    margin-bottom: 10px;
  }
  &__address-link {
    font-style: italic;
    color: $beige-orange;
  }
  &__email {
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -12px;
      background-image: url("../images/icons/mail-icon.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width: 23px;
      height: 21px;
    }
  }
  &__logo {
    flex: 0 0 100%;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 50px;
    .img-svg {
      width: 255px;
      path {
        fill: $beige-orange;
      }
    }
  }
  &__copy {
    flex: 0 0 100%;
    padding-top: 30px;
    border-top: 1px solid $golden-orange;
  }
  &__copy-list {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: $beige-orange;
    @extend %nuvo-normal;
    font-size: 14px;
  }
  &__copy-item {
    padding: 0 14px;
    & + & {
      border-left: 1px solid $beige-orange;
    }
  }
  &__tabs {
    display: none;
  }
  &__email.mobile {
    display: none;
  }
}

@import "media";
